.profile{
    width: 50%;
    margin: auto;
    min-height: calc(100vh - 180px);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #aaeaee;
    margin-bottom: 10px;
    font-size: 18px;
    box-shadow: 0 0 0.5em rgb(39, 51, 53);
}

.profile .char {
    width: 100%;
    text-align: center; 
}

.profile .charImg {
    width: 150px;
    height: 150px;
    border: 1px solid;
    box-shadow: 0 0 0.5em rgb(39, 51, 53);  
}

.charImg img {
    width: 100%;
    height: 100%;
}
.profile .infoChar {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 30px;
}

.infoChar label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile .description {
    width: 90%;
}

.profile a {
    font-size: 26px;
}

.profile a .btn:hover {
    color: red;
}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.b:hover {
    color: mediumseagreen;
}

.edit:hover {
    background-color: mediumseagreen;
}

.delete:hover {
    background-color: red;
    color: white;
}


@media screen and (max-width: 1310px) {
    .profile {
        width: 60%;
    }
}


@media screen and (max-width: 1040px) {
    .profile {
        width: 70%;
    }
}

@media screen and (max-width: 1040px) {
    .profile {
        width: 80%;
    }
}


@media screen and (max-width: 460px) {
    .profile {
        min-width: 360px;
    }
}