.card-component {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    display: -ms-grid;
    -ms-grid-columns: repeat(6, 1fr);

    grid-gap: 20px 0; 
    padding: 10px;   
    
    width: 100vw;
    min-height: calc(100vh - 230px);
    margin-bottom: 10px;

    background-color: rgb(154, 213, 236);
    box-shadow: 0 0 0.5em rgb(39, 51, 53);
}

.middle {
    position: relative;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);

    position: -ms-page;
} 
  
.card{
    cursor: pointer;
    width: 200px;
    height: 300px;
}

.front, .back {
    width: 100%;
    height: 100%;
    overflow:hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;

    box-shadow: 0 0 0.5em rgb(39, 51, 53);
}
.front img{
    height: 100%;
    width: 100%;
}
.front {
    transform: perspective(600px) rotateY(0deg);
}
.back {
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
}
.back-content{
    display: flex;
    flex-direction: column;
    color: rgb(177, 78, 12);
    text-align: center;
    width: 100%;
}
.sm{
    margin: 20px 0;
}
.sm a {
    text-decoration: none;
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%;
    box-shadow: 0 0 0.5em rgb(39, 51, 53);
}
.sm a:hover{
    background: rgb(177, 78, 12);
    color: white;
}    
.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.pagination .bt {
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
}

.pagination .bt:hover {
    color: rgb(177, 78, 12);
}

@media screen and (max-width: 1720px) {
    .card-component {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 20px;         
    }
}

@media screen and (max-width: 1620px) {
    .card-component {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;         
    }
}

@media screen and (max-width: 1320px) {
    .card-component {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;         
    }
}

@media screen and (max-width: 1120px) {
    .card-component {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;         
    }

    .card{
        cursor: pointer;
        width: 220px;
        height: 320px;
        box-shadow: 0 0 0.5em rgb(39, 51, 53);
    }
    
}

@media screen and (max-width: 950px) {
    .card-component {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;         
    }

    .card{
        cursor: pointer;
        width: 230px;
        height: 330px;
        box-shadow: 0 0 0.5em rgb(39, 51, 53);
    }
}

@media screen and (max-width: 740px) {
    .card-component {
        min-width: 360px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;         
    }

    .card{
        cursor: pointer;
        width: 250px;
        height: 350px;
        box-shadow: 0 0 0.5em rgb(39, 51, 53);
    }
}

@media screen and (max-width: 540px) {
    body, html {
        min-width: 360px;
    }
    .card-component {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;         
    }

    .card{
        cursor: pointer;
        min-width: 300px;
        height: 400px;
    }
}

