.search {
    position: absolute;
    display: block;
}

.search-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    height: 25px;
    border-radius: 25px;
    padding: 5px;
}
.search-box:hover > .search-txt{
    width: 350px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    color: #181d2fc5;
}

.search-box:hover {
    background: rgba(230, 216, 216, 0.863);
}
.search-btn {
    color:rgba(230, 216, 216, 0.863);
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #181d2fc5;
    font-size: 16px;
    transition: 0.8s;
    line-height: 25px;
    width: 0px;
}

@media screen and (max-width: 740px) {
    .search-box {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -90%);       
    }
}

@media screen and (max-width: 540px) {
    .search-box {
        position: relative;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -90%);
    }
    .search-box:hover > .search-txt{
        width: 280px;
        padding: 0 6px;
    }
}